<nav class="navbar navbar-light bg-light">
  <ul class="nav nav-pills">
    <a class="navbar-brand" outerLinkActive="active" routerLink="/users-list">RunTracker</a>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/users-list">View Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/create-user">Add User</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/create-run">Add Run</a>
      </li> -->
  </ul>
</nav>