<div class="container">
    <p *ngIf="Runs.length <= 0" class="no-data text-center">There are no runs for this user :(</p>

    <table class="table table-striped" *ngIf="Runs.length > 0">
        <thead>
            <th scope="col">Date</th>
            <th scope="col">Miles</th>
            <th scope="col">Time</th>
            <th scope="col">Distance</th>
            <th scope="col">Action</th>
        </thead>
        <tbody>
            <tr *ngFor="let run of Runs; let i = index">
                <td>{{run.date | date }}</td>
                <td>{{run.miles}}</td>
                <td>{{run.time_of_day}}</td>
                <td>{{run.distance}}</td>
                <td>
                    <span class="edit">
                        <button type="button" class="btn btn-outline-primary btn-sm"
                                [routerLink]="['/edit-run', run.user_id, run._id]">
                            Edit Run
                        </button>
                    </span>
                    <span class="delete">
                        <button type="button" [routerLink]="['/delete-run/', run._id]"  class="btn btn-outline-danger btn-sm">
                            <fa-icon [icon]="faTrashAlt"></fa-icon>
                        </button>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
